:root {
  --color1: #7db3d7; 
  --color2: #f1f1f1; 
  --color3: #032840; 
  --color4: #312e2e; 
  --color5: #032840; 

}

/* RESET BÁSICO */

body {
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: var(--color3);
  background-color: #ffffff;
}


/* LAYOUT BASE */

.container {
  width: 70%;
  margin: 0 auto;
  padding: 70px 0;
}

/* HERO */

.hero {
  height: 600px;
  background: linear-gradient(135deg, var(--color1), var(--color5));
  background-size: cover;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 2.8rem;
  margin-bottom: 1em;

}

.hero h3 {
  font-weight: normal;
  margin-bottom: 3em;
}

.hero p {
  max-width: 650px;
  margin: 0 auto 25px;
  line-height: 1.6;
}
.hero a {
  text-decoration: none;
  color: #fff;
}
.hero-logo {
  width: 120px;
  margin-bottom: 25px;
}


/* ABOUT */

.about {
  background: var(--color2);
  height: 25em;
  text-align: center;
}

/* SERVICES */

.services {
  background: #ffffff;
  text-align: center;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background: var(--color2);
  padding: 25px;
  border-radius: 10px;
  transition: all 0.2s ease;
  border-top: 4px solid var(--color1);
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* BENEFITS */

.benefits {
  background: #fff;
  text-align: center;
}

.benefits ul {
  line-height: 1.8;
  padding-left: 20px;
}

.benefits li {
  margin-bottom: 8px;
}

/* CTA */

.cta {
  background: var(--color3);
  color: white;
  text-align: center;
}

.social-links {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-links a {
  color: var(--color1);
  transition: transform 0.2s ease, opacity 0.2s;
}

.social-links a:hover {
  transform: translateY(-3px);
  opacity: 0.85;
}

/* BOTÃO PRINCIPAL */

.btn-primary {
  background: var(--color4);
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.2s ease;
}

.btn-primary:hover {
  background: var(--color2);
  color: var(--color3);
  transform: translateY(-2px);
}

/* FOOTER */

footer {
  background: var(--color3);
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 12px 0;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .service-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card {
    padding: 20px;
  }
  .hero h1 {
  font-size: xx-large;
  }
   .hero h3 {
  font-size: medium;
  margin-top: 3em;
  margin-bottom: 4em;
  }
  .hero a
  { 
    font-size: smaller;
    padding: 1em;
  }

    .about {
    height: 35em;
    }

}